<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Sign Up</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/set1.css">

  <!--Google Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

</head>

<body>
  <div id="main-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 right-side">
          <form action="/signup" method="POST" >
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="first_name" name="firstName" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="first_name">
              <span class="input__label-content input__label-content--hoshi">First Name</span>
            </label>
          </span>
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="last_name" name="lastName" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="last_name">
              <span class="input__label-content input__label-content--hoshi">Last Name</span>
            </label>
          </span>
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="email" name="email" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="email">
              <span class="input__label-content input__label-content--hoshi">E-mail</span>
            </label>
          </span>
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="password" id="password" name="password" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="password">
              <span class="input__label-content input__label-content--hoshi">Password</span>
            </label>
          </span>
          {{!-- <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="password" id="password1" name="" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="password1">
              <span class="input__label-content input__label-content--hoshi">Repeat Passowrd</span>
            </label>
          </span> --}}
          <div class="cta">
            <button class="btn btn-primary pull-left" type="submit" >
              Sign-Up Now
            </button>
            <span>
              <a href="/auth">I am already a member</a>
            </span>
          </div>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>

  </div>
  <!-- end #main-wrapper -->
</body>

</html>