<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Sign Up</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/set1.css">
  <link rel="stylesheet" href="css/modal.css">

  <!--Google Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  <script type="text/javascript">
window.onload = function() {


	var modalDiag = document.getElementById('modalDiag');
	var span = document.getElementsByClassName("exit")[0];

	span.onclick = function() {
		modalDiag.style.display = "none";
	}

	window.onclick = function(event) {
		if(event.target == modalDiag) {
			modalDiag.style.display = "none";
		}
	}
}


function submitForm() {

	var pass1= $("#password").val(); 	
	var pass2= $("#password2").val();

	if(pass1!=pass2) {
		modalDiag.style.display = "block";
	}
	else {
		$.ajax({
				type: 'POST',
				url: '/signup',
				data: {
				'firstName': $('#first_name').val(),
				'lastName' :$('#last_name').val(),
				'email' : $('#email').val(),
				'password' :$('#password2').val()
				},

success: function() {

	$('#first_name').val('');
	$('#last_name').val('');
	$('#email').val('');
	$('#password').val('');
	$('#password2').val('');


}

});
	}

}

function comparePass() {

	var pass1= $("#password").val(); 	
	var pass2= $("#password2").val();

	if(pass1!= pass2) {
		document.getElementById("pass1").className = "input__label input__label--hoshi input__label--wrong-password";
		document.getElementById("pass2").className = "input__label input__label--hoshi input__label--wrong-password";
	}
			else
			{

		document.getElementById("pass1").className = "input__label input__label--hoshi input__label--hoshi-color-3";
		document.getElementById("pass2").className = "input__label input__label--hoshi input__label--hoshi-color-3";
		document.getElementById("btn_signup").removeAttribute("disabled");
			}
}
	

  </script>

</head>

<body class="mod-body">
<div><nav class="navbar navbar-expand-lg nav" style="background-color: rgb(31, 193, 68); height: 70px;"><div class="collapse navbar-collapse" id="navbarSupportedContent"><ul class="navbar-nav mr-auto"></ul></div></nav></div>



<div id="main-wrapper">


    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 right-side">
		<!--<form action="/signup" method="POST" >-->
		<form role="form">
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="first_name" name="firstName" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="first_name">
              <span class="input__label-content input__label-content--hoshi">First Name</span>
            </label>
          </span>
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="last_name" name="lastName" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="last_name">
              <span class="input__label-content input__label-content--hoshi">Last Name</span>
            </label>
          </span>
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="email" name="email" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="email">
              <span class="input__label-content input__label-content--hoshi">E-mail</span>
            </label>
          </span>
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="password" id="password" name="password" />
            <label id="pass1" class="input__label input__label--hoshi input__label--hoshi-color-3" for="password">
              <span class="input__label-content input__label-content--hoshi">Password</span>
            </label>
          </span>
           <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="password" id="password2" name="" onkeyup="comparePass();"/>
            <label id="pass2" class="input__label input__label--hoshi input__label--hoshi-color-3" for="password2">
              <span class="input__label-content input__label-content--hoshi">Repeat Password</span>
            </label>
          </span> 
	  <div class="cta">
		 <!-- <button id="btn_signup" class="btn btn-primary pull-left" type="submit">
      		    Sign-Up Now
	    </button>-->
		  <button id="btn_signup" class="btn btn-primary pull-left" type="button" onclick="submitForm()">
      		    Sign-Up Now
            </button>
            <span>
              <a href="/">I am already a member</a>
            </span>
          </div>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>

  </div>
  <!-- end #main-wrapper -->
<!--HTML for modal-->

<div id="modalDiag" class="modalPopUp">

	<div class="modalPopUp-content">
		<span class="exit">&times;</span>
		<h2>Passwords do not match!</h2>
	</div>
<!--HTML for modal end-->
</body>

</html>
