

input[type=text] {
    margin-top: 5px;
    margin-left: 20px;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 30%;
}

.searchIcon {
    margin-top: 4px;
    margin-left: 10px;
    height: 24px;
}